<!DOCTYPE html>
<html>

<head>
    <title>Simpleblog</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

            <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'%>
                <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to  "home", home_path %>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <%= link_to  "CreatePost", new_post_path %>
            </li>
        </ul>
    </nav>
    <div class="container">
        <%= yield %>
    </div>



</body>

</html>